.container {
 margin: 492px 11px 0 138px;
 margin-top: 200px; !important;
}




.vader-saber {
  width: 40px;
  height: 172px;
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -o-transition: all .7s ease;
  -ms-transition: all .7s ease;
  transition: all .7s ease;
  -webkit-transform: translate3d(0, 0, 0);
}
.vader-saber div {
  position: absolute;
}
 img {
  width: 40px;
  height: 172px;
 }

.light {
  background: #FFF;
  height: 0;
  width: 20px;
  z-index: -1;
  box-shadow: 0 0 16px 2px rgba(255, 0, 0, 0), 0 0 1px 4px #F00 inset;
 left: 10px;
  border-radius: 10px 10px 8px 8px;
  bottom: 154px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}

.chk {
  display: none;
}


button{
      display: none;
        background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;


}



button:hover{
 background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


.chk:checked ~ button {
  display: block;




}



.chk:checked + .vader-saber > .light {
  height: 325px;
  box-shadow: 0 0 16px 2px #F00, 0 0 1px 4px #F00 inset;
  -webkit-filter: blur(1px);
  -webkit-animation: flicker 0.3s ease infinite;
  -moz-animation: flicker 0.3s ease infinite;
  animation: flicker 0.3s ease infinite;
}

.chk:checked + .vader-saber {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@-webkit-keyframes flicker {
  0% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.97;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  88% {
    opacity: 0.98;
  }
  90% {
    opacity: 0.94;
  }
  93% {
    opacity: 0.9;
  }
  95% {
    opacity: 0.99;
  }
  96% {
    opacity: 0.93;
  }
  98% {
    opacity: 1;
  }
  99% {
    opacity: 0.93;
  }
}
@-moz-keyframes flicker {
  0% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.97;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  88% {
    opacity: 0.98;
  }
  90% {
    opacity: 0.94;
  }
  93% {
    opacity: 0.9;
  }
  95% {
    opacity: 0.99;
  }
  96% {
    opacity: 0.93;
  }
  98% {
    opacity: 1;
  }
  99% {
    opacity: 0.93;
  }
}
@keyframes flicker {
  0% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.97;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  88% {
    opacity: 0.98;
  }
  90% {
    opacity: 0.94;
  }
  93% {
    opacity: 0.9;
  }
  95% {
    opacity: 0.99;
  }
  96% {
    opacity: 0.93;
  }
  98% {
    opacity: 1;
  }
  99% {
    opacity: 0.93;
  }
}





.bando{

  margin-right: 100px;
}


.containerr {
 margin: 492px 11px 0 138px;
 margin-top: 200px; !important;
}


.vader-saberr {
  width: 40px;
  height: 172px;
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -o-transition: all .7s ease;
  -ms-transition: all .7s ease;
  transition: all .7s ease;
  -webkit-transform: translate3d(0, 0, 0);
}
.vader-saberr div {
  position: absolute;
}
 img {
  width: 40px;
  height: 172px;
 }

.lightr {
  background: #FFF;
  height: 0;
  width: 20px;
  z-index: -1;
  box-shadow: 0 0 16px 2px rgba(255, 0, 0, 0), 0 0 1px 4px #F00 inset;
  left: 7px;
  border-radius: 10px 10px 8px 8px;
  bottom: 154px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}

.chkr {
  display: none;
}

.chkr:checked + .vader-saberr > .lightr {
  height: 325px;
  box-shadow:0 0 16px 2px #1B2AA7, 0 0 1px 4px #004BFF inset;
  -webkit-filter: blur(1px);
  -webkit-animation: flicker 0.3s ease infinite;
  -moz-animation: flicker 0.3s ease infinite;
  animation: flicker 0.3s ease infinite;
}

.chkr:checked + .vader-saberr {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@-webkit-keyframes flicker {
  0% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.97;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  88% {
    opacity: 0.98;
  }
  90% {
    opacity: 0.94;
  }
  93% {
    opacity: 0.9;
  }
  95% {
    opacity: 0.99;
  }
  96% {
    opacity: 0.93;
  }
  98% {
    opacity: 1;
  }
  99% {
    opacity: 0.93;
  }
}
@-moz-keyframes flicker {
  0% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.97;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  88% {
    opacity: 0.98;
  }
  90% {
    opacity: 0.94;
  }
  93% {
    opacity: 0.9;
  }
  95% {
    opacity: 0.99;
  }
  96% {
    opacity: 0.93;
  }
  98% {
    opacity: 1;
  }
  99% {
    opacity: 0.93;
  }
}
@keyframes flicker {
  0% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.97;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  88% {
    opacity: 0.98;
  }
  90% {
    opacity: 0.94;
  }
  93% {
    opacity: 0.9;
  }
  95% {
    opacity: 0.99;
  }
  96% {
    opacity: 0.93;
  }
  98% {
    opacity: 1;
  }
  99% {
    opacity: 0.93;
  }
}



button{
      display: none;
        background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;


}



button:hover{
 background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


.chkr:checked ~ button {
  display: block;




}







.saber2{


}
