
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:0;
	}

	.section{
		text-align:center;
	}


	
	#section0,
	#section1,
	#section2,
	#section3
	#section4{
		background-size: cover;
	}

	#section0{
		
	}
	#section2{
		
	}
	#section3{
		
	}
	#section3{
	
	}


 	
	/* ----------------------perso----------------- */
	#slide1{
		background-image: url(../Clair/perso/Persoclaire.jpg);
		
	}
	#slide2{
		background-image: url(../Clair/perso/PersoPadme.jpg);
		
	}
	#slide3{
		background-image: url(../Clair/perso/persoPrincesseLeia.jpg);
		
	}
	#slide4{
		background-image: url(../Clair/perso/PersoR2d2.jpg);
		
	}
	#slide5{
		background-image: url(../Clair/perso/PersoYoda.jpg);
		
	}
	#slide6{
		background-image: url(../Clair/perso/PersoJarjarbinks.jpg);
		
	}
	#slide7{
		background-image: url(../Clair/perso/PersoLukeSkywalker.jpg);
		
	}
	#slide8{
		background-image: url(../Clair/perso/PersoMaceWindu.jpg);
	
	}
	
	#slide9{
		background-image: url(../Clair/perso/PersoObiwanKenobi.jpg);
/*		background-image: url(bg/Personnage/1.jpg);
*/		
	}
	#slide10{
	background-image: url(../Clair/perso/PersoAnakin.jpg);
		
	}
	#slide11{
	

		background-image: url(../Clair/perso/PersoC3-PO.jpg);
		
	}

	
	#slide12{
		background-image: url(../Clair/perso/persoChewbacca.jpg);
	
	}
	#slide13{
		background-image: url(../Clair/arme/Armesclaire.jpg);
		
	}
	#slide14{
		background-image: url(../Clair/arme/blaster.jpg);
		
	}
	#slide15{
		background-image: url(../Clair/arme/droideka.jpg);
		
	}

	#slide16{
		background-image: url(../Clair/arme/sabrelaserblue.jpg);
	
	}
	#slide17{
		background-image: url(../Clair/arme/superdroidedecombat.jpg);
	
	}

	
	#slide18{
		background-image: url(../Clair/planete/Planetesclair.jpg);
	
	}
	#slide19{
		background-image: url(../Clair/planete/planete.jpg);
	
	}
	#slide20{
		background-image: url(../Clair/vaisseau/Vaisseauxclair.jpg);
		/*background-image: url(bg/Personnage/8.jpg);*/
	
	}

	#slide21{
		background-image: url(../Clair/vaisseau/vaisseauintercepteur.jpg);
		/*background-image: url(bg/Personnage/8.jpg);*/
	
	}
	#slide22{
		background-image: url(../Clair/vaisseau/vaisseaufaucon.jpg);
		/*background-image: url(bg/Personnage/8.jpg);*/
	
	}
	#slide23{
		background-image: url(../Clair/vaisseau/vaisseauguerre.jpg);
		/*background-image: url(bg/Personnage/8.jpg);*/
	
	}
	#slide24{
		background-image: url(../Clair/vaisseau/vaisseaux-wing.jpg);
		/*background-image: url(bg/Personnage/8.jpg);*/
	
	}
	#slide25{
		background-image: url(../Clair/vaisseau/snowspeeder.jpg);
		/*background-image: url(bg/Personnage/8.jpg);*/
	
	}
	
	#slide26{
		background-image: url(../Clair/vaisseau/cannoniere.jpg);
		/*background-image: url(bg/Personnage/8.jpg);*/
	}
	
	#slide27{
		background-image: url(../Clair/planète/planète.jpg);

	}




	

	#overlay {
  position: absolute;
  color:rgba(249,252,255,1); /*White*/
/*  background:rgba(0,3,6,0.98); /*Black*/
background-image: url(../Clair/onepage.jpg);
width: 100%;
  height: 100%;
  z-index:999;
  display:table;
  text-align: center;
  font-size: 3em;
}
.overlay-inner {
  display:table-cell;
  vertical-align: middle;
}


.titre{

	float:left;
	font-size: 50px;
	color:white;
	top: 0px;
	font-family:jedi;


}


.pseudo-texte{
font-size: 20px;
color:white;
float: left;
margin-right: 575px;
font-family:jedi;
margin-top: 3em;



}


.maincontainer{
float: left;
margin-left: 37px;
margin-top: 30px;	




}


@font-face {
    font-family:jedi;
    src: url(../font/Starjedi.ttf);
    font-weight: bold;
}



img.PersoPadme{

	
    height: 97%;
    width: 6%;
    float: right;
    position: absolute;
    margin-left: -14em;
	

}


.yoda{
	width: auto;
	height: 50%;
	position: absolute;
	
	margin-right: 100px;

}



.luke{
	position: absolute;
	margin-left: -800px;

}



.PersoMaceWindu{
position: absolute;
	margin-left: -800px;

}



.Intercepteur{

position: absolute;
left: 1482px;
height: 74%;
width: 14%;
}


.Faucon{

position: absolute;
height: 74%;
width: 4%;
left: auto;

}


.lucrehulk{
position: absolute;
height: 74%;
width: 4%;
left: auto;
}



a { text-decoration: none; }
a:hover { text-decoration: underline; }

li { list-style: none; }

.container { margin: 0px 20% 0px 20%; margin: 17px 20% 0px 93%;
position: fixed;
z-index: 199999999999;}

#head { margin-top: 0px;position: fixed; z-index: 1200000000;}

#menu .box {
	position: fixed;
	text-align: center;
	font-family:jedi;
	font-size: 80px;
	overflow: hidden;
	z-index: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background: rgba(0,0,0,0.8);
	-webkit-transition: all 0.3s ease-in-out; 
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
	transition: all 0.3s ease-in-out;
}

#menu ul {
	position: relative;
	top: 20%;
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
	-webkit-transition: all 0.3s ease-in-out; 
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
	transition: all 0.3s ease-in-out;
}

#menu li { 
	display: inline-block; 
	margin: 20px;
}

#menu li a {
	border-radius: 3px;
	padding: 15px;
	border: 1px solid transparent;
	text-decoration: none;
	font-size: 18px;
	color: #fff;
	-webkit-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out; 
	-o-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out;
}

#menu li a:hover { border-color: #fff; }

#menu li a i { 
	margin-right: 5px; 
	font-size: 24px;
}

#toggle-nav-label {
	color: rgba(0,0,0,0.5);
	background-image: url(../menu.jpg);
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	display: block;
	cursor: pointer;
	position: relative;
	z-index: 500;
	width: 50px;
	height: 50px;
	border-radius: 5px;
}

#toggle-nav { display: none; }

#toggle-nav:checked ~ .box { 
	opacity: 1;
	z-index: 400;
}

#toggle-nav:checked ~ .box ul {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

#toggle-nav:checked ~ #toggle-nav-label { 
	background: #fff; 
	color: rgba(0,0,0,0.8);
}


#scrolldown {
  bottom: 40px;
  position: fixed;
  height: 100px;
  margin-left: -50px;
  position: absolute;
  left: 50%;
  text-align: center;
  width: 100px;
  z-index: 100;
}
#scrolldown p {
  font: 700 0.7em/1em 'Avenir',sans-serif;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: scroll;
  color: #000;
}
#scrolldown > p {
  text-transform: uppercase;
  text-indent: 3px;
}
.mouse {
  border: 2px solid #000;
  border-radius: 13px;
  display: block;
  height: 46px;
  left: 50%;
  margin: 10px 0 0 -13px;
  position: absolute;
  width: 26px;
}
.mouse span {
  display: block;
  font-size: 1.5em;
  margin: 6px auto;
}



button{
     
        background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;


}



button:hover{
 background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
